
@import url('https://fonts.googlepis.com/ccs?family=Poppins:100,200,300,400,500,600,700,800,900');
:root {
    --light:  #fff;
    --dark:  #1d1d1d;
    --primary:  #80407E;
    --second:  #242121;;
    --third: #00ccff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color: var(--light);
}
body{
    min-height: 100vh;
    background: var(--dark);
}
body::-webkit-scrollbar {
	width: 7px;
    background:transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

body::-webkit-scrollbar-thumb {
	background: #5a5a5a;
	border-radius: 5px;
}
/* -- LOADER -- */
/*
.center-loader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    overflow: hidden;
}
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: linear-gradient(50deg,#80407e,#00ccff);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }*/
/* --  NAVBAR  -- */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--dark);
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}
.brand{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--light);
    text-decoration: none;
    font-size: 1.5rem;
}
.links-container{
    display: flex;
    list-style: none;
}
.link{
    color: var(--light);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    position: relative;
}
.link:hover{
    opacity: .7;
}
.link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: linear-gradient(50deg,#80407e,#00ccff);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}
.link:hover::after{  
    width: 100%;
}
.active, .highlight{
    background: linear-gradient(50deg,#80407e,#00ccff);
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.wrapper{
    height: 100vh;
    display: flex;
    position: relative;
    left: 10px;
    top: 20px;
}
.loader{
    display: block;
    width: 38px;
    height: 38px;
    transform: rotate(-45deg);
}
.loader div{
    display: block;
    position: absolute;
}
.loader div:nth-child(1){
    top: 0;
    left: 0;
    animation: move1 1.2s ease-in-out infinite;
} 
.loader div:nth-child(2){
    top: 0;
    left: 20px;
    animation: move2 1.2s ease-in-out infinite;
} 
.loader div:nth-child(3){
    top: 20px;
    left: 20px;
    animation: move3 1.2s ease-in-out infinite;
} 
.loader div:nth-child(4){
    top: 20px;
    left: 0;
    animation: move4 1.2s ease-in-out infinite;
}
/* --  MAIN  -- */

.home{
    width: 100%;
    min-height: calc(100vh - 60px);
    height: auto;
    margin-top: 60px;
    padding:  0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: var(--dark);
}

.hero-content{
    width: 50%;
}
.hero-heading{
    font-size: 5rem;
    text-transform: capitalize;
    font-weight: bold;
}
.container-img{
    position: relative;
    width: 50%;
}
.box{
    position: relative;
    width: 180px;
    height: 50px;
    display: flex;
    left: 27%;
    justify-content: center;
    align-items: center;
    background: var(--dark);
    overflow: hidden;
    transform: skewY(-1deg);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.box::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 500%;
    background: linear-gradient(#00ccff,#d400d4);
    animation: animate 4s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: var(--light);
    border-radius: 5px;
}
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.box h1{
    position: relative;
    color: var(--dark);
    font-size: 1em;
    font-weight: bold;
    z-index: 10;
}
img{
    width: 50vw;
    height: 70%;
    filter: blur(30%);
}
/* about section */

.about{
    width: 100%;
    height: auto;
    padding: 50px 10vw;
    background: var(--light);
}
.heading{
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
    text-transform: capitalize;
    color: var(--dark);
}
.sub-heading{
    text-align: center;
    font-size: 1rem;
    margin: 10px;
    opacity: .7;
    color: var(--dark);
}
.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-btn{
    position: relative;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light);
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.box-btn::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 500%;
    background: linear-gradient(#00ccff,#d400d4);
    animation: animate 4s linear infinite;
}
.box-btn::after{
    content: '';
    position: absolute;
    inset: 4px;
    border-radius: 5px;
}
.download{
    color: var(--light);
    height: 94%;
    width: 94%;
    border-radius: 4px;
    border:none;
    outline:none;
    background: var(--dark);
    position: relative;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
}
.download:hover{
    color: var(--dark);
    background: var(--light);
}
.about-image{
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .25);
}
.about-para{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 35px;
    margin-left: 40px;
    padding-bottom: 10px;
}
.heading-white{
    color: var(--light);
}
.skill-container{
    position: relative;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.skill-card{
    height: 200px;
    border-radius: 10px;
    border: 1px solid #464646;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: .5s;
}
.skill{
    font-size: 2rem;
    color: #464646;
    line-height: 200px;
}
.skill-card:hover{
    background: var(--bg);
}
.skill-card:hover .skill{
    color: var(--light);
}

/* project section */
.project{
    background: var(--dark);
}
.project, .contact{
    position: relative;
    padding: 50px 10vw;
}
.filters{
    width: fit-content;
    display: block;
    margin: 100px auto;
}
.filter-btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
    margin: 0 5px 10px;
    cursor: pointer;
    color: var(--dark);
}
.filter-btn.active{
    /*background: linear-gradient(50deg,#80407e,#00ccff);
    box-shadow: 1px 1px 1.5px #80407e;*/
    color: var(--light);
}
.project-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.project-card{
    position: relative;
    cursor: pointer;
    display: block ;
}
.project-card img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.project-card .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    text-transform: capitalize;
    opacity: 0;
}
.project-name{
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
}
.tags{
    position: absolute;
    bottom: 20px;
    opacity: 0.6;
    width: 90%;
}
.project-card:hover .content{
    opacity: 1;
}
.project-card .hide{
    display: none;
}


/* contact form */

.contact{
    background: var(--light);
}
.contact-form{
    width: 100%;
    margin-top: 100px;
    position: relative;
}
.contact-form input, .message{
    width: 100%;
    display: block;
    height: 50px;
    padding: 20px;
    border-radius: 5px;
    background: #000;
    color: var(--light);
    border: none;
    outline: none;
    margin: 30px 0;
    resize: none;
}
.message{
    height: 200px;
}
.contact-form .name{
    display: flex;
    justify-content: space-between;
}

.name input{
    width: 49%;
    margin: 0;
}

.contact-form .btn{
    display: block;
    margin: auto;
    cursor: pointer;
}
.about-me-container{
    position: relative;
    color: var(--dark);
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light);
    overflow: hidden;
    transform: skewY(-1deg);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.about-me-container::before
{
    content: '';
    position: absolute;
    width: 30px;
    height: 500%;
    background: linear-gradient(#00ccff,#d400d4);
    animation: animate 4s linear infinite;
}
.about-me-container::after
{
    content: '';
    position: absolute;
    inset: 4px;
    background: var(--dark);
    /*border-radius: 5px 0px 5px 0;*/
    border-radius: 5px;
}
.btn{
    color: var(--dark);
}

/* footer */


.footer{
    width: 100%;
    background-color: var(--dark);
    text-transform: capitalize;
    line-height: 30px;
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 60px;
}
.colum-1{
    padding-top: 20px;
}

.colum-1 h3{
    font-size: 40px;
}

.colum-2 h3{
    font-size: 24px;
}

.colum-3{
    padding-top: 20px;
    padding-left: 20px;
}
.footer-list .footer-list-item{
    text-decoration: none;
    list-style: none;
    color: var(--dark);
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 10px;
}
.colum-3 h3{
    font-size: 1rem;
}
.highlight-footer{
    color: var(--dark);
    text-decoration: none;
}

.copyright{
    text-align: center;
}
.follow{
    text-align: center;
}
.footer-list-item{
    display: inline-block;
}
.icon{
    text-transform: capitalize;
    color: var(--light);
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    position: relative;
}
/* tablet view */

@media screen and (max-width: 996px){
    html{
        font-size: 14px;
    }

    /* toggle btn */

    .toggle-btn{
        position: absolute;
        width: 40px;
        height: 40px;
        right: 10vw;
        cursor: pointer;
    }

    .toggle-btn span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
      
        background: var(--light);
        border-radius: 6px;
        z-index: 1;
      
        transform-origin: 0 0;
      
        transition: 0.4s;
      }
      .toggle-btn:hover span:nth-child(2){
        transform: translateX(10px);
        background: linear-gradient(#00ccff,#d400d4);
      }
      .toggle-btn.is-active span:nth-child(1){
        transform: translate(0px, -2px) rotate(45deg);
      }
      .toggle-btn.is-active span:nth-child(2){
        opacity: 0;
        transform: translateX(15px);
      }
      .toggle-btn.is-active span:nth-child(3){
        transform: translate(-3px, 3px) rotate(-45deg);
      }
      .toggle-btn.is-active:hover span{
        background-color: linear-gradient(#00ccff,#d400d4);
      }

    /* links */

    .links-container{
        position: absolute;
        top: 60px;
        background: var(--dark);
        width: 100%;
        left: 0;
        padding: 0 10vw;
        flex-direction: column;
        transition: .5s;
        opacity: 0;
        pointer-events: none;
    }

    .links-container.show{
        opacity: 1;
        pointer-events: all;
    }

    .link{
        margin-left: auto;
        text-align: center;
        display: block;
    }

    /* home section */

    .home{
        /*flex-direction: column-reverse;*/
        
        height:  fit-content;
        padding-bottom: 50px;
    }
    .home .image{
        width: 250px;
        margin: 40px;
    }
    .hero-content{
        display: inline;
        justify-content: center;
        align-items: center;
        width: 70%;
        min-width: 350px;
        text-align: center;
    }
    .hero-heading{
        font-size: 4.5rem;
    }

    /* about-section */

    .about-me-container{
        grid-template-columns: 1fr;
    }
    .left-col{
        margin: auto;
        width: 50%;
        min-width: 320px;
    }
    .skill-container, .project-container{
        grid-template-columns: repeat(2, 1fr)
    }
    .skill-card{ 
        grid-column: 1 span !important;
    }
    .container-footer-all .footer-content{
        grid-template-columns: 1fr;
        text-align: center;
    }
    /*Footer*/
    .footer-content{
        display: inline;
    }
    .colum-1{
        margin-bottom: 25px;
    }
    
}

/* mobile view */
 
@media screen and (max-width: 768px) {
    html{
        font-size: 12px;
    }
    .home{
        height: 100vh;
        margin-top: 10px;
    }
    p, .sub-heading, .about-para, .left-col::before, .tags{
        font-size: 1.4rem;
    }
    .about-image{
        width: 90%;
        margin: auto;
        display: block;
    }
    .skill-container, .project-container{
        grid-template-columns: 1fr;
    }
    .skill{
        font-size: 2.5rem;
    }
    .project-name{
        font-size: 3rem;
    }
    .name{
        flex-direction: column;
    }
    .name input{
        width: 100%;
        margin-bottom: 15px;
    }
}