---
interface Props {
  intro: string,
  specialization: string,
  education: string,
  passion: string,
}
const { intro, specialization, education, passion } = Astro.props;
--- 
<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div class="text-pretty order-2 md:order-1 space-y-4">
    <p class="text-2xl text-base font-normal text-black/70 dark:text-white/70">
      {intro}
    </p>
    <p class="text-2xl text-base font-normal text-black/70 dark:text-white/70">
      {specialization}
    </p>
    <p class="text-2xl text-base font-normal text-black/70 dark:text-white/70">
      {education}
    </p>
    <p class="text-2xl text-base font-normal text-black/70 dark:text-white/70">
      {passion}
    </p>
  </div>
</article>
