---
// Banner.astro
---

<div id="banner-container"></div>

<script>
  const script = document.createElement('script');
  script.src = 'ttps://dwidget.xtz.mobi/callme/js/68497a2d892cb';
  script.onload = () => window.CallmeBanner?.run();
  document.head.appendChild(script);
</script>
