---
const YEAR = new Date().getFullYear();
---
<footer class="dark:bg-[#111] bg-[#fff]  text-white py-4 fixed bottom-0 left-0 w-full z-100">
    <div class="container mx-auto px-4 text-center">
        <p class="text-black/50 dark:text-white/50">&copy; {YEAR} Juan Sueldo. All rights reserved.</p>
    </div>
</footer>
