<div id="form-container"></div>

<script>
  const script = document.createElement('script');
  script.src = 'https://dwidget.xtz.mobi/form/js/682e021e1525f';
  script.onload = () => window.FormCustom?.run();
  document.head.appendChild(script);
</script>
```
