---
import HamburgerButton from "./HamburgerButton.astro";
import MenuDesktop from "./MenuDesktop.astro";
import MenuMobile from "./MenuMobile.astro";
---

<header class="fixed top-0 left-0 w-full bg-[#f8f7fa] dark:bg-[#111] z-50 transition-all duration-300" id="navbar">
  <nav class="container mx-auto px-4 py-4 flex justify-between items-center">
    <a href="#hero" class="text-xl font-bold text-black dark:text-white">Juan <span class="hightlight-text">Sueldo</span></a>
      <!-- Desktop Menu -->
      <MenuDesktop/>
      <!-- Hamburger Button -->
      <HamburgerButton/>
  </nav>
  <!-- Mobile Menu -->
  <MenuMobile/>
</header>
