---
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
import Gmail from "./icons/Gmail.astro";
import HiglightButton from "./HiglightButton.astro";

const SOCIAL = [
  {
    title: "GitHub",
    url: "https://github.com/juansueldo",
    icon: Github,
    class: "w-5 h-5 filter-white bg-white rounded-sm"
  },
  {
    title: "LinkedIn",
    url: "https://ar.linkedin.com/in/juan-sueldo",
    icon: Linkedin,
    class: "w-5 h-5 bg-white rounded-sm dark:bg-white"
  },
  {
    title: "Email",
    url: "mailto:juan.sueldo1989@gmail.com",
    icon: Gmail,
    class: "w-5 h-5"
  }
];
---

<div class="w-full flex gap-6">
  {SOCIAL.map(({ title, url, icon: Icon, class: iconClass }) => (

    <HiglightButton width="full" id="link-definitive" text={''} hightlight_text={title} url={url} btnstyle='btn'>
      <Icon class={iconClass} />
    </HiglightButton>
  ))}
</div>
