---
interface Props {
  sending: string,
  success: string,
  error: string,
}

const { sending, success, error } = Astro.props;
---

<div
  id="toast-msg"
  data-sending={sending}
  data-success={success}
  data-error={error}
  style="display:none"
  aria-live="polite"
  role="status"
></div>
